.HeadLayer {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.Banner{
   position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.HeadLayer2{
  position: absolute;
  top: 150px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.HomePlay .playicon{
  width: 50px;
}

@media (min-width: 768px) {
  .hero img {
    object-fit: contain;
  }
 
}