.bannerContainer img{
    width: 100%;
}
.bannerContainer .RORTitle,.HomePlay  {
    position: absolute;
    top: 150px;
}
.bannerContainer{
    display: flex;
    justify-content: center;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.HomeButton{
    position: absolute;
    top: 440px;
    display: flex;
    gap: 30px;
}
.HomePlay img{
    width: 50px;
}
.HomePlay {
    display: flex;
    flex-direction: row;
    gap: 50px;
    top: 550px;
}
.HomePlay img:hover{
    filter: drop-shadow(0 0 6px #fff375d1)
          drop-shadow(0 0 12px #ffffff);
    cursor: pointer;
}

.gameBtn {
  position: relative;
  padding: 14px 36px;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
  outline: none;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.737),
    rgba(0, 0, 0, 0.28)
  );

  box-shadow:
    inset 0 1px 0 #ffffff4d,
    inset 0 -1px 0 rgba(0,0,0,0.45),
    0 6px 18px rgba(0,0,0,0.55);

  clip-path: polygon(
    8% 0%,
    92% 0%,
    100% 50%,
    92% 100%,
    8% 100%,
    0% 50%
  );

  transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.silver {
  background-color: #fff82d5a;
  color: #121212;
}
.gameBtn::before,
.gameBtn::after {
  content: "◆";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.75;
  pointer-events: none;
}

.gameBtn::before {
  left: 12px;
}

.gameBtn::after {
  right: 12px;
}
.gameBtn:hover {
  transform: scale(1.06);
}
.silver:hover {
  box-shadow:
    0 0 18px rgba(230, 230, 230, 0.9),
    0 10px 28px rgba(0,0,0,0.65);
}
.gameBtn:active {
  transform: scale(0.96);
}